PHONE_NUMBER_ID=1097255916805484
PYTHON_VERSION=3.10.12
SUPABASE_KEY=eyJh.....yG8Q
SUPABASE_URL=https://shshgkuwqvbjbblwrmyy.supabase.co
VERIFY_TOKEN=isa_verify_2026
WHATSAPP_TOKEN=EAAV....ZDZD
DATABASE_URL=postgresql://postgres:UmZUUYmqEr6w@JNshshgkuwqvbjbblwrmyy.supabase.co:5432/postgres
