DATABASE_URL="postgresql+psycopg://neondb_owner:npg_sDe2ZGVR6gPU@ep-royal-band-al7na8dl-pooler.c-3.eu-central-1.aws.neon.tech:5432/neondb?sslmode=require"
LOG_LEVEL=INFO
PANEL_SESSION_SECRET=clave_super_secreta_para_sesiones_123
PHONE_NUMBER_ID=1097255916805484
PYTHON_VERSION=3.10.12
VERIFY_TOKEN=isa_verify_2026
WHATSAPP_TOKEN=...ZDZD

